.terraform
./terraform
terraform

.terraform.lock.hcl
./terraform.lock.hcl
terraform.lock.hcl

terraform.tfstate.backup
./terraform.tfstate.backup
.terraform.tfstate.backup

variables.tf
./variables.tf
.variables.tf

.terraform.tfstate
./terraform.tfstate
terraform.tfstate